:root {
  /* Fonts */
  --font-outfit: 'Outfit', sans-serif;
  --font-size-title: 22px;
  --font-size-content: 15px;
  --font-weight-title: 700;
  --font-weight-content: 400;
  --font-style: normal;
  --font-optical-sizing: auto;
  --font-line-height-title: 120%;
  --font-line-height-content: 140%;
  --font-letter-spacing-title: 0px;
  --font-letter-spacing-content: 0.2px;

  /* Colors */
  --white: rgb(255, 255, 255);
  --slate-300: rgb(213, 225, 239);
  --slate-500: rgb(104, 119, 141);
  --slate-900: rgb(31, 49, 79);

  /* Spacing */
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-500: 40px;
  --spacing-full: 100%;
}

body,
html {
  min-width: var(--spacing-full);
  min-height: var(--spacing-full);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 288px;
  height: auto;
  padding: var(--spacing-200) var(--spacing-200) var(--spacing-500);
  background-color: var(--white);
  border-radius: var(--spacing-200);
  text-align: center;
}

.qr-image {
  max-width: var(--spacing-full);
  border-radius: var(--spacing-200);
}

.bg-slate-300 {
  background-color: var(--slate-300);
}

.font-title {
  font-family: var(--font-outfit);
  font-optical-sizing: var(--font-optical-sizing);
  font-size: var(--font-size-title);
  line-height: var(--font-line-height-title);
  letter-spacing: var(--font-letter-spacing-title);
  font-weight: var(--font-weight-title);
  font-style: var(--font-style);
  color: var(--slate-900);
}

.font-content {
  font-family: var(--font-outfit);
  font-optical-sizing: var(--font-optical-sizing);
  font-size: var(--font-size-content);
  line-height: var(--font-line-height-content);
  letter-spacing: var(--font-letter-spacing-content);
  font-weight: var(--font-weight-content);
  font-style: var(--font-style);
  color: var(--slate-500);
}

.title {
  padding-top: var(--spacing-300);
}

.content {
  padding-top: var(--spacing-200);
}

.attribution {
  position: absolute;
  width: var(--spacing-full);
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  text-align: center;
}
